{% extends "base.html.twig" %}

{% block title %}Currency{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="margin-top: 5%;font-size: 60px;">
        Lowest Rate Of Currencies!
    </h1>
    <div class="row">
        <div class="col-sm-offset-1 col-md-4 text-center">
            <img style="width: 100%;" src="images/united-states.png"  alt="euro">
            {% if currencies.dollar is not empty %}
                <span style="font-family: monospace;font-size: 33px;font-weight: 500;">{{ currencies.dollar }} TL</span>
            {% endif %}
        </div>
        <div class="col-md-4 text-center">
            <img style="width: 100%;" src="images/european-union.png" alt="euro">
            {% if currencies.euro is not empty %}
                <span style="font-family: monospace;font-size: 33px;font-weight: 500;">{{ currencies.euro }} TL</span>
            {% endif %}
        </div>
        <div class="col-md-4 text-center">
            <img style="width: 100%;" src="images/united-kingdom.png" alt="euro">
            {% if currencies.pound is not empty %}
                <span style="font-family: monospace;font-size: 33px;font-weight: 500;">{{ currencies.pound }} TL</span>
            {% endif %}
        </div>
    </div>
    {% if currencies.dollar is empty %}
        <div class="row">
            <div class="col-md-12 text-center" style="font-size: 30px;">
                Please run the command to see the rates!
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
